<%= provide(:title,"Sign up") %>


<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :name %><a color="red">  *</a>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>

        <%= f.label :email %><a color="red">  *</a>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :telephone %>
        <%= f.telephone_field :telephone, class: 'form-control' %>

        <%= f.label :password %><a color="red">  *</a>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %><a color="red">  *</a>
        <%= f.password_field :password_confirmation, class: 'form-control' %>


        <a color="red">* obligatory</a>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
