<% provide(:title, @user.name + "'s profile") %>
<div class="jumbotron">

  <h3 class="center">
    PROFILE
  </h3>


  <div class="row ">
    <aside class="col-md-4">
      <section class="user_info">

        <%= gravatar_for(@user, size: 80) %>
        <%= @user.name %>
        <%= @user.first_name %><br/>
        <%= @user.email %><br/>

        <%= @user.telephone %>


      </section>
    </aside>


    <div class="col-md-4">
      <% if @user.transactions.any? %>
          <h3>Your rides as driver (<%= @user.transactions.count %>)</h3>
          <ol class="transactions">
            <%= render @transactions %>
          </ol>
          <%= will_paginate @transactions %>
      <% end %>
    </div>

    <div class="col-md-4">
      <% if @reservations.any? %>
          <h3>Your rides as passenger (<%= @reservations.count %>)</h3>
          <ol class="transactions">
            <% @passenger_transactions.each do |transaction| %>
              <%= render transaction %>
                <% @reservations.each do |reservation| %>
                  <% if reservation.transaction_id == transaction.id %>
                    <% @reservation = reservation %>
                    <% end %>
                <% end %>
                <% if logged_in? && current_user?(@user) %>
                  <span class="edit" style="text-align:center;"><%= link_to "delete", @reservation, method: :delete, class:"btn btn-sm btn-primary centered"%></span>
                  <% end %>
            <% end %>
          </ol>
          <%= will_paginate @passenger_transactions %>
      <% end %>
    </div>

  </div>
</div>
