<% provide(:title, "Contact") %>


<div class="center jumbotron">
  <h1>Contact page</h1>
  <h2> Hello, We are anonymous </h2>
  <p> Contact us here</p>
  <%= link_to "Contact", '#', class: "btn btn-lg btn-primary" %>


</div>