// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*transaction index*/
.dateline {
  text-transform: uppercase;
  color : dimgray;
  font-weight: bold;
}

.transactions {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .cities {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
    font-weight: bold;
  }
  .timestamp {
    color: darkgray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  .edit {
  }

  .map {
    max-width: none;
  }
}

.linkable:hover{
  background-color: lightgray;
}

.row{
  margin: 0px;
}

/*transaction index - search fields*/
#start_point, #end_point, .transaction_search {
  width: auto;
}

.input-box {
  text-align: center;
}