<% provide(:title, "Edit Trip") %>
<h1>Update your trip</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@transaction) do |f| %>

        <%= f.label :dep_city %>
        <%= f.text_field :dep_city, class: 'form-control' %>

        <%= f.label :arrival_city %>
        <%= f.text_field :arrival_city, class: 'form-control' %>

        <%= f.label :travel_date %>
        <%= f.datetime_field :travel_date, class: 'form-control' %>

        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control' %>

        <%= f.label :nb_free_seats %>
        <%= f.number_field :nb_free_seats, class: 'form-control' %>

        <%= f.hidden_field :user_id, class: 'form-control', value: @user.id%>

        <%= f.hidden_field :nb_reservations, class: 'form-control', value: 0%>

        <h4 > Preference</h4>

        <div class="row">
          <div class="col-md-3">
            <%= label_tag(:smoking, "Smoking") %>
            <%= f.check_box(:smoking)  %>

          </div>
          <div class="col-md-6" >
            <%= label_tag(:luggage, "Luggage or Big Backpack") %>
            <%= f.check_box(:luggage)  %>
          </div>
          <div class="col-md-3">

            <%= label_tag(:animals, "Animals Allowed") %>
            <%= f.check_box(:animals)  %>
          </div>
        </div>


        <h4> You Car</h4>


        <%= f.select(:car_type,[['Hatchback car', 'Hatchback'], ['Sedan Car', 'Sedan']]) %>

        <%= label_tag(:cooling, "Does your car have cooling") %>
        <%= f.check_box(:cooling)  %>




        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>