<% provide(:title, 'Travels') %>

<h2>Find a trip here</h2>
<%= form_tag(transactions_path, :method => "get", id: "search-form") do %>
    <div class="input-box">
    <%= text_field_tag :start_point, params[:start_point], placeholder: "Start Point" %> &rArr; <%= text_field_tag :end_point, params[:end_point], placeholder: "Destination Point" %><br>
    <%= submit_tag "Search", class: "transaction_search", :name => nil %>
    </div>
<% end %>

<% if params[:start_point] %>
  <h2>Travels related to : <%= params[:start_point] %></h2>
<% else %>
  <h2>All travels</h2>
<% end %>


<% if @transactions.count == 0 %>
    <% if params[:start_point] %>
        <h4>Oups ! No travels corresponding</h4>
    <% else %>
        <h4>Oups ! No travels yet ! :'( </h4>
    <% end %>

<% else %>

<%= will_paginate %>

<% date = (@transactions.first.travel_date) rescue nil %>

<div class="dateline"><%=h date.strftime("%A %e %B") %></div>

<% @transactions.each do |transaction|
    if date.to_date === transaction.travel_date.to_date

    else
      date = transaction.travel_date %>
        <div class="dateline"><%=h date.strftime("%A %e %B") %></div>
    <%end%>

    <ol class="transactions">
      <%= render transaction %>
    </ol>

  <% end %>

<%= will_paginate %>

<% end %>
