<% provide(:title, @transaction.dep_city + ' to ' + @transaction.arrival_city) %>

<h1>Ride from <%= @transaction.dep_city %> to <%= @transaction.arrival_city %></h1>
<h2><%= @transaction.travel_date.strftime("On %A %e %B at %k:%M") %></h2>
<div class="center jumbotron">

  <div class="row">
    <div class="col-md-9">
      <section class="travel_info">

        <div class="row">
          <div class="col-md-6">
            <section class="map">
              <h3><%= @transaction.dep_city %> to <%= @transaction.arrival_city %></h3>

              <img src="http://maps.google.com/maps/api/staticmap?size=255x255&key=AIzaSyD9B8xCa3pfY_iqeb889ips99g3fA_iWNE&maptype=roadmap&sensor=false&markers=color:blue|label:A|'+<%= @transaction.dep_city %>+',QC&markers=color:purple|label:B|'+<%= @transaction.arrival_city %>+',QC"
                   alt="Static, Marked Map of '+<%= @transaction.dep_city %>+', Quebec and '+<%= @transaction.arrival_city %>+', Quebec with no Center and Zoom"> </img>
            </section>
          </div>
          <div class="col-md-6">
            <section class="preferences">
              <h3>Preferences</h3>
              <div class="row">
                <% if @transaction.smoking %>
                    <%= image_tag("smoking.png", alt: " smoking",size: "32") %>
                    Smoking
                <%else %>
                    <%= image_tag("no smoking.png", alt: "no smoking",size: "32") %>
                    Non-Smoking
                <%end%>
              </div>
              <div class="row">
                <% if @transaction.luggage %>
                    <%= image_tag("Luggage.png", alt: "Luggage",size: "32") %>
                    Big backpack/luggage
                <%else %>
                    <%= image_tag("Backpack.png", alt: "Backpack",size: "32") %>
                    Small Backpack
                <%end%>
              </div>
              <div class="row">

                <% if @transaction.animals %>
                    <%= image_tag("Animals.png", alt: "Animals",size: "32") %>
                    Animals Allowed
                <%else %>
                    <%= image_tag("no Animals.png", alt: "No Animals",size: "32") %>
                    No Animals
                <%end%>
              </div>
              <div class="row">

                <% if @transaction.cooling %>
                    <%= image_tag("Cooling.png", alt: "Cooling",size: "32") %>
                    Air conditioning
                <%else %>
                    No Air conditioning
                <%end%>
            </div>




            </section>
          </div>

        </div>
      </section>
    </div>
    <div class="col-md-3">
      <section class="user">
        <h3>Information about the driver</h3>
        <div class="row">
          <%= render @transaction.user %>
        </div>


        <div class="row">
          <h4> Car type: </h4>
          <div class="row">
          <%= @transaction.car_type %>
          </div>
          <div class="row">
          <%if @transaction.car_type==("Sedan")%>
              <%= image_tag("Berline.png", alt: "Sedan Car",size: "125") %>
          <%else if @transaction.car_type==("Hatchback") %>
              <%= image_tag("citadine.png", alt: "Hatchback Car",size: "125") %>
              <%end %>
          <%end%>
          </div>

        </div>


      </section>
    </div>

  </div>


  <div class="row">
    <div class="col-md-4">
      <section class="price">
        <h3>Price</h3>
        <%= @transaction.price %> $ <br><br>
        <% if logged_in? %>
          <% if @transaction.nb_free_seats < 1 %>
                <%= link_to "Select & Pay", transactions_path, method: :get, class: "btn btn-primary",
                            data: { confirm: "Sorry ! This trip is already full, you will be redirected" }%>
          <% elsif @transaction.user_id == @user.id %>
                <%= link_to "Select & Pay", transaction_path(@transaction), method: :get, class: "btn btn-primary",
                            data: { confirm: "Sorry ! You can not reserve a seat for your own trip" }%>
          <% else %>
                <%= form_for(:params, url: reservations_path(transaction_id: @transaction.id)) do |f| %>
                    <%= f.select :seats_selected, (1..@transaction.nb_free_seats) %>
                    <%= f.submit "Select & Pay", class: "btn btn-primary", data: {confirm: "Pay 5$ per person and continue ?"} %>
                <% end %>

          <% end %>
        <% else %>
            <%= link_to "Log in", login_path, class: "btn btn-primary" %>
        <% end %>
      </section>
    </div>
    <div class="col-md-4 col-md-offset-3">
      <section class="passengers">
        <h3>Others passengers (<%=@transaction.nb_reservations%> /
          <%=@transaction.nb_free_seats + @transaction.nb_reservations%>)</h3>
        <% if @reservations %>
          <% @reservations.each do |reservation|%>
                <p>
                  <%= render reservation.user %>
                </p>

          <% end %>
        <% else %>
          No others passengers at this moment !
        <% end %>
      </section>
    </div>

  </div>

</div>
