<footer class="footer">
  <small>
    &#169; AmigoCar
    by Romain Vanmarcke et Sylvain Pryfer
  </small>

  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>

</footer>